$font-semibold: 'font-sans-semibold';
$font-bold: 'font-sans-bold';
$font-bolder: 'font-sans-bolder';

$color-white: #fff;
$color-black: #000;
$color-light-grey: #CFD8DC;
$color-orange: #F99159;
$color-blue: #A3E9E9;
$color-red: #F4645B;
$color-dark: #323232;